.tablehead{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
     rgb(209, 213, 219)
     0px 0px 0px 1px inset;
     background-color: rgb(146, 200, 236);
}



table tr{
    height: 15px !important;
}

table tr:hover{
    background-color: rgb(199, 222, 238);
    
}

.action-box{
  height:15px;
  justify-content: space-between;
 }
.action-item{
  border-radius: 0.4rem;
  height:18px;
  
  margin-left:1rem;
}
.inp{
  width:6rem;
  border-radius: 0.4rem;
}
ng-container td p{
  height: 10px !important;
}